*
!/**/
!*.*
*.exe
*.mod
*.o

!*Makefile

13_Doxygen/Example/doc
!13_Doxygen/Example/Doxyfile

13_Doxygen/Bird_OOP_Ex2/doc
!13_Doxygen/Bird_OOP_Ex2/Doxyfile

19_GDB/julia/data/*
!19_GDB/julia/data/julia_0.285_0.010_10.csv
19_GDB/julia/plots/*
!19_GDB/julia/plots/julia_0.285_0.010_10.png

19_GDB/mandelbrot/data/*
!19_GDB/mandelbrot/data/mandelbrot_10.csv
19_GDB/mandelbrot/plots/*
!19_GDB/mandelbrot/plots/mandelbrot_10.png

21_pFUnit
22_hdf5
23_Stylist
